.sync__button_start {
    color: var(--onPrimary) !important;
    background: var(--primary) !important;
}
.sync__button_start:hover {
    outline-color: var(--primary);
}

.sync__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--frame-x);
    transform: translateY(-1em);
}
    .sync__teams_container {
        width: 100%;
        padding-left: var(--frame-x);
        box-sizing: border-box;
    }
        .sync__teams_container h2 {
            margin-bottom: var(--frame-y);
        }
    .sync__clock_container {
        padding-right: var(--frame-x);
    }
        .sync__clock_container h3 {
            margin: var(--frame-y) 0;
        }
        .sync__timer {
            font-size: 0.15em;
            opacity: .5;
        }

@media screen and (min-height: 600px) {
    .sync__container {
        flex-direction: column;
        gap: 4em;
    }
        .sync__teams_container {
            padding: 0 var(--frame-x);
        }
        .sync__clock_container {
            padding: 0;
        }
    .sync__players {
        flex-direction: row;
    }
}
