<div class="sync__games"></div>
<div class="sync__container">
    <div class="sync__teams_container">
        <h2>players</h2>
        <div class="sync__teams"></div>
    </div>
    <div class="sync__clock_container">
        <h2>sync clock</h2>
        <div class="sync__clock"></div>
        <h3>timer preview</h3>
        <div class="sync__timer"></div>
    </div>
</div>
<footer>
    <button class="button button_small sync__button_stop_round">
        <span class="material-icons">stop</span>
    </button>
    <button class="button sync__button_players">
        <span class="material-icons">people</span>
    </button>
    <button class="button sync__button_start">
      <span class="material-icons">play_arrow</span>
    </button>
    <button class="button button_small sync__button_delete_offset">
        <span class="material-icons">delete</span>
    </button>
</footer>