.teams__container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.teams__container div {
    display: flex;  
    flex-direction: column;
    gap: 1em;
    font-weight: bold;
    color: var(--onPrimary);
}
.teams__container .material-icons {
    opacity: .4;
}

.teams__container p {
    position: absolute;
    margin: 0;
    bottom: -2em;
    XXXcolor: var(--warn);
}