<div class="overlay__state">
    <div class="state_screenwake">
        <span class="material-icons">web_asset_off</span>
    </div>
    <div class="state_sound">
        <span class="material-icons">volume_off</span>
    </div>
    <div class="state_playing">
        <span class="material-icons">play_arrow</span>
    </div>
    <div class="state_roundinfo">
        <span class="material-icons">sports_soccer</span>
        <span class="state_round"></span>
        <span class="state_game"></span>
        <span class="state_part"></span>
    </div>
</div>
<div class="overlay__version">vX.Y</div>
