<div class="round__bar"></div>
<div class="round__games"></div>
<div class="round__container">
    <div class="round__teams"></div>
    <div class="round__timer"></div>
</div>
<footer>
    <button class="button round__button_players">
        <span class="material-icons">people</span>
    </button>
    <button class="button round__button_stop">
        <span class="material-icons">stop</span>
    </button>
    <button class="button button_small round__button_timer">
        <span class="material-icons">keyboard_double_arrow_right</span>
    </button>
</footer>
