.circlebar__container {
    position: relative;
    min-width: 20px;
    box-shadow: 0 0 1em black;
    border-radius: 200%;
    width: 100%;
    height: 0;
    padding-top: 100%;
    XXborder:1px solid yellow;
}
.circlebar__container svg {
    position: absolute;
    top: 0;
    left: 0;
}
.circlebar__container::after {
    position: absolute;
    left: 10%;
    top: 10%;
    right: 10%;
    bottom: 10%;
    box-shadow: inset 0 0 1em black;
    content: "";
    border-radius: 100%;
    XXborder:1px solid yellow;
}
.circlebar__back,
.circlebar__container #back {
    stroke: var(--surface);
    opacity: .1;
}
.circlebar__bar,
.circlebar__container #bar {
    stroke: var(--primary);
    stroke-dashoffset: 0;
    transition: stroke-dashoffset .3s linear;
}
