<div class="player__container">
    <h1 class="player__select">
        Select Players 
        <span class="player__next">for the next round</span>
        <span class="player__teams">and build teams</span>
    </h1>
    <div class="player__manage">
        <h1>Manage players</h1>
        <div>
            <input type="text" class="player__input_name" placeholder="New player"/>
            <button class="player__button_add">
                <span class="material-icons">add</span>
            </button>      
        </div>
    </div>
    <div class="player__list">
        <label><input type="checkbox" checked/>Dummy1</label>
        <label><input type="checkbox"/>Dummy2</label>
    </div>
</div>
<footer>
    <button class="button player__button_back">
        <span class="material-icons">chevron_left</span>
    </button>
    <button class="button button_small player__button_manage">
        <span class="material-icons">settings</span>
    </button>
    <button class="button player__button_teams">
        <span class="material-icons">casino</span>
    </button>    
</footer>
