@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

:root {
    font-size: 16px;
    
    --primary: #006784;
    --onPrimary: Snow;
    --background: rgb(22, 23, 24);
    --onBackground: Silver;
    --surface: Silver;
    --onSurface: #222324;
    --base: black;

    --good: MediumSeaGreen;
    --bad: #FF5F1F;
    --warn: #FF5F1F;

    --sec30: Firebrick;
    --min1: #FF5F1F;
    --min5: #006784;

    --frame-y: 1rem; /*5vh;*/
    --frame-x: 1rem; /*5vw;*/
}
/*
    --primary: Firebrick;
    --primary: #a33d23;
    --primary: Tomato;
    --primary: Orange;
    --primary: Tan;
    --primary: #006784;
    --primary: DodgerBlue;
    --primary: Skyblue;
    --primary: #5baeb4;
    --primary: #219EBC;
    --primary: MediumSeaGreen;
    --primary: SlateBlue;
    --primary: Violet;
    --primary: Orchid;
*/

html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Gruppo', Calibri, sans-serif;
    color: var(--onBackground);
    background: var(--background);
    background: linear-gradient(var(--background), var(--background) 70%, var(--base));
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
h1,
h2,
h3 {
    margin: 0;
    text-transform: uppercase;
    text-shadow: 0 0 0.5em black;
}

.view {
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-content: flex-start;
    align-items: center; /* center horizontal if column */
    justify-content: flex-start; /* center vertical if column */
    animation: scalein .2s ease-out;
}

@media screen and (min-height: 600px) {
    .view {
        /* remove left margin in portrait mode */
        /* setting it generel would cause a top margin in landscape mode */
        flex-direction: column; 
    }
}

.hidden {
    display: none;
}

/* button style */

.button {
    width: 50px;
    height: 50px;
    background: var(--surface);
    color: var(--onSurface);
    font-family: inherit;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 50%;
    outline: 0 solid transparent;
    cursor: pointer;
    transition: outline .2s ease-in-out;
    box-shadow: 0 0 1em black;
}
.button:hover {
    outline: 3px solid var(--surface);
}
.button_small {
    width: 40px;
    height: 40px;
}

footer {
    animation: upin .2s ease-out;
    position: fixed;
    bottom: var(--frame-y);
    width: 100%;
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
}
header {
    animation: downin .2s ease-out;
    position: fixed;
    top: var(--frame-y);
}

@keyframes upin {
    0% {
        transform: translateY(500px);
    }
}
@keyframes downin {
    0% {
        transform: translateY(-500px);
    }
}
@keyframes scalein {
    0% {
        transform: scale(0);
        opacity: 0;
    }
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
}
